.flex-container{
  display: inline-flex;
}
.flex-container{
  flex-direction: row;
}
h1{
  color:white;
  padding:10px;

}
.item{
  margin: 10px;
  justify-content: center;
  align-items: center;
  color: cornflowerblue;
  font-size: medium;

}
.taiwan_title{
  font-size:40px;
  color: white;
  padding:5px;
  margin-left: 150px;
}
.about_us{
  position: absolute;
  top: 0px;
  right: 5px;
}
.logo{
  color: aquamarine;
  animation-name: logo;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.test{
  background-color: yellow;
}
#MainShow {
	margin:20px;
	padding:15px 0px;
	background-color:yellow;
	border:1px #ccc solid;
	width:800px;
	float:left;
}
#Working_box{
  background-color: blue;
  margin: 20px;
  padding: 15px;
  width:850px;
  float:right;
}
main{
  display:flex;
  background-color: red;
}
main>.left{
  width:900px;
  background-color: aqua;
  margin:10px 0 0 5px;
}
main>.right{

}